{#
/**
 * This file is part of ExtendedReport plugin for FacturaScripts.
 * FacturaScripts Copyright (C) 2018-2020 Carlos Garcia Gomez <carlos@facturascripts.com>
 * ExtendedReport Copyright (C) 2018-2020 Jose Antonio Cuello Principal <yopli2000@gmail.com>
 *
 * This program and its files are under the terms of the license specified in the LICENSE file.
 *
 * Description:
 *   ReportController Template. Displays the data and sumary
*/
#}

{% extends "Master/MenuTemplate.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block bodyHeaderOptions %}
    {{ parent() }}
    {% set pageData = fsc.getPageData() %}
    <div class="container-fluid d-print-none">
        <div class="row">
            <div class="col-md-7">
                {# -- Page data for small devices -- #}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb d-md-none">
                        <li class="breadcrumb-item">
                            <a href="#">{{ i18n.trans(pageData.menu) }}</a>
                        </li>
                        {% if pageData.submenu %}
                            <li class="breadcrumb-item">
                                <a href="#">{{ i18n.trans(pageData.submenu) }}</a>
                            </li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">{{ fsc.title }}</li>
                    </ol>
                </nav>
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}">
                        <i class="fas fa-sync" aria-hidden="true"></i>
                    </a>
                    {% if pageData.name == fsc.user.homepage %}
                        <a class="btn btn-sm btn-outline-secondary active" href="{{ fsc.url() }}?defaultPage=FALSE">
                            <i class="fas fa-bookmark" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}?defaultPage=TRUE">
                            <i class="fas fa-bookmark" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5 text-right">
                <h1 class="h3 d-none d-md-inline-block">
                    {{ fsc.title }} <i class="fas {{ pageData.icon }}" aria-hidden="true"></i>
                </h1>
                <br class="d-md-none"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
    {# -- Tabs -- #}
    <ul class="nav nav-tabs d-print-none" id="mainTabs" role="tablist">
        {% for viewName, view in fsc.views %}
            <li class="nav-item">
                {% set active = (viewName == fsc.active) ? ' active' : '' %}
                <a href="#{{ viewName }}" class="nav-link{{ active }}" data-toggle="tab" role="tab" aria-controls="{{ viewName }}">
                    <i class="fas {{ view.icon }}" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline-block">&nbsp;{{ view.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="mainTabsContent">
        {% for viewName, view in fsc.views %}
            {% set active = (viewName == fsc.active) ? ' active' : '' %}
            <div class="tab-pane{{ active }}" id="{{ viewName }}" role="tabpanel">
                {% do fsc.setCurrentView(viewName) %}
                {{ include(view.template) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

